/*
Left
ship buttons for placement
 */

.root{
    -fx-font-family: "Courier New";
}

#shipButtonsPlacement {
    -fx-padding: 5px 15px;
    -fx-font-size: 14px;
    -fx-text-align: center;
    -fx-outline: none;
    -fx-text-fill: #fff;
    -fx-background-color: #3e8e41;
    -fx-border: none;
    -fx-border-radius: 15px;
    -fx-min-width: 205px;
    -fx-min-height: 40px;

}

#shipButtonsPlacement:hover {
    -fx-background-color: #4CAF50
}

/*
Right
reset ship settings
 */

#shipButtonsReset {
    -fx-padding: 5px 15px;
    -fx-text-align: center;
    -fx-outline: none;
    -fx-text-fill: white;
    -fx-background-color: #b9151b;
    -fx-min-width: 120;
    
}

#shipButtonsReset:hover {
    -fx-background-color: #fe010b
}

/*
Center - bottom
ship placement board
 */

#boardMarkers {

 
}

#boardButton {
    -fx-focus-traversable: false;
    -fx-background-color: linear-gradient(to bottom right, #089ab3, #00a6b3);
    -fx-font-size: 10;
}

#boardButton:hover {

    -fx-border-color: #fbfb35;
    -fx-border-width: 2px;
}

#boardButton:disabled {
    -fx-background-color: #585858;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-font-size: 12;
}

/*
Center top
fire area
 */

#fireButton {
    -fx-focus-traversable: false;
    -fx-background-color: black;
    -fx-border-color: #04ff08;
    -fx-border-width: 1;
    -fx-font-size: 12;
}

#fireButton:hover {
    -fx-background-color: #04ff08;
    -fx-cursor: crosshair;
}


#newGameButtons {
    -fx-min-width: 205px;
    -fx-min-height: 30px;
   
}
/*hit, sunk and miss colors*/
#hit:disabled {
    -fx-color: orange;
    -fx-border-color: yellow;
    -fx-border-width: 2;
    -fx-font-size: 12;
}

#sunk:disabled {
    -fx-color: red;
    -fx-border-color: orange;
    -fx-border-width: 2;
    -fx-font-size: 12;
}

#miss:disabled {
    -fx-color: white;
    -fx-font-size: 12;
}


/*left and right top labels (instruction and updating status)*/
#labels {
    -fx-font-size: 18;
}

#aboutLabel {
    -fx-text-fill: #9fd50d;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , #000000, 8 , 0.8 , 2 , 2 );
}


